    @use '../../abstracts/variables/colors' as c;
    @use '../../abstracts/variables/sizes' as s;
    @use '../../abstracts/mixins/' as *;
    .progress {
        font-size: 1.6rem;
        color: c.$white;
        &__item {
            margin-bottom: 1em;
        }
        &__text {
            font-size: 1em;
            text-shadow: 1px 1px 5px hsla(153, 20%, 40%, 0.533);
            margin-bottom: 0.2em;
            position: relative;
        }
        &__wrapper {
            height: 1.5em;
            border-radius: 1.5em;
            background-color: c.$white;
            background-image: linear-gradient( hsla(207, 30%, 60%, 0.533), hsla(207, 40%, 75%, 0.533), hsla(206, 49%, 90%, 0.533));
            box-shadow: inset 1px 1px 5px hsla(207, 20%, 20%, 0.467);
        }
        &__bar {
            height: 100%;
            background-color: desat(c.$green);
            background-image: linear-gradient( light(c.$green), c.$green, dark-desat(c.$green));
            box-shadow: inset 1px 1px 3px hsla(0, 0%, 100%, 0.8), inset -1px -1px 3px hsla(156, 10%, 20%, 0.2), 2px 2px 5px hsla(156, 10%, 20%, 0.2);
            border-radius: 1rem;
        }
        &__text:after {
            @include screen-xl {
                content: attr(data-value) "%";
                position: absolute;
                right: 0;
            }
        }
    }